.error {
    color: red;
    font-weight: 900;
}

form {
    width: 20%;
}

.formButton {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 0px 10px gray;
    background-color: whitesmoke;
    transition: 400ms;
}

.formButton:hover {
    background-color: black;
    color: white;
}