.link{
    font-size: xx-large;
    margin: 20px;
    color: black;
    border-radius: 20px;
    padding: 20px;
    transition: 500ms;
}
.link:hover{
    box-shadow: 0px 0px 10px gray;
    color: white;
    background-color: black;


}